<?xml version="1.0" encoding="UTF-8"?>
<!--日志要求：1.生成日志在项目下logs文件夹下
            2.按日期循环
            3.日志有一定的格式
-->
<configuration>
    <property name="catalina.home" value="."/>
    <property name="LOG_HOME" value="${catalina.home}/logs"/>
    <appender name="alllog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/api.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/api.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{15} %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/api_error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/api_error.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{15} %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] %-5level %logger.%M:%L ** %msg%n</pattern>
        </encoder>
    </appender>
    <!--性能日志-->
    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="1000"/>
        <appender-ref ref="perf4jFile"/>
    </appender>

    <logger name="org.perf4j.TimingLogger" level="debug" additivity="false">
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
    <appender name="perf4jFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/dispatcher.perf4j.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/history/%d{yyyyMM,aux}/dispatcher.perf4j.log.%d{yyyyMMdd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%msg%n</Pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <logger name="com.wfei.daliy.logback" level="debug" additivity="true">
        <appender-ref ref="stdout"/>
        <appender-ref ref="errorLog"/>
        <appender-ref ref="alllog"/>
    </logger>
    <logger name="com.wfei.daliy" level="debug" additivity="true">
        <!--<appender-ref ref="stdout"/>-->
    </logger>
    <logger name="com.wfei" level="info" additivity="false">
        <!--<appender-ref ref="stdout"/>-->
    </logger>
    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="alllog"/>
        <appender-ref ref="errorLog"/>
    </root>
</configuration>